*{
  font-family: 'Bebas Neue', sans-serif;
}

body{
  height: auto;
}



@media(min-width: 768px){
  .news-input{
    width: 50%;
}



.img-container{
  width: 165px;
  height: 165px;
  padding: 10px;
  display: flex;
  align-content: center;
}


#map{
  width: 100%;
  height: 100%;
}

.mapbox{
  border-radius: 10px;
}

#map{
  border-style: solid; 
  width: 600px;
  height: 300px;
  border-radius: 5px;
}

.form-container{
  border-style: solid; 
  width: auto;
  height: auto;
  border-radius: 5px;

}